// Just for this sample
.page {
  margin   : 0 auto;
  display  : flex;
  max-width: 20rem;
}

// Start here
.container {
  border-radius: 0.3rem;
  overflow     : hidden;

  .photo-container {
    position : relative;
    top      : -0.9rem; // Adjust
    left     : -1.2rem; // Adjust
    transform: rotate(10deg);

    .photo-cont-item {
      display: flex;
      width  : calc(3.8rem * 6);

      .photo-item {
        width              : 3.2rem;
        height             : 2rem;
        margin-right       : 0.6rem;
        margin-bottom      : 0.6rem;
        border-radius      : 0.16rem;
        background-size    : cover;
        background-repeat  : no-repeat;
        background-position: center;
        box-shadow         : 0rem 0.02rem 0.4rem rgba(0, 0, 0, 0.15);
      }

      .photo-item:hover,
      .photo-item:focus,
      .photo-item:active {
        transform: scale(1.3);
      }
    }

    // Every row
    .animation-1 {
      animation: scroller 40s linear infinite;
      display  : flex;
      width    : calc(3.8rem * 12);

      &:hover {
        animation-play-state: paused;
      }
    }

    // Every row
    .animation-2 {
      animation: scroller 40s linear infinite;
      display  : flex;
      width    : calc(3.8rem * 12);

      &:hover {
        animation-play-state: paused;
      }
    }

    // Every row
    .animation-3 {
      animation: scroller 40s linear infinite;
      display  : flex;
      width    : calc(3.8rem * 12);

      &:hover {
        animation-play-state: paused;
      }
    }
  }

  // Animations
  @keyframes scroller {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-3.8rem * 6));
    }
  }
}