// Seettings
$ctaHeight: 2.5rem;

.rank-content {
    .cta-container-images {
        width           : 100%;
        // max-width: 1140px;
        margin          : 0 auto;
        background-color: #000;
        overflow        : hidden;

        .cta-singular-cell {
            position: relative;
            float   : left;
            height  : $ctaHeight;

            @media (max-width: 5.76rem) {
                height: 2rem;
            }

            .cta-even-image,
            .cta-odd-image {
                width              : 100%;
                background-size    : cover;
                background-position: center;
                background-repeat  : no-repeat;
                height             : $ctaHeight;
                position           : absolute;
                top                : 0;
                left               : 0;
                -webkit-filter     : grayscale(1%);
                filter             : grayscale(1%);

                @media (max-width: 5.76rem) {
                    height: 2rem;
                }
            }

            .cta-even-image {
                z-index: 10;
            }

            .cta-odd-image {
                z-index: 11;
            }

            &:nth-child(10) {
                width: 15%;
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(5),
            &:nth-child(9) {
                width: 20%;
            }

            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(11) {
                width: 25%;
            }

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(8) {
                width: 30%;
            }

            &:nth-child(12) {
                width: 40%;
            }
        }
    }

    // Images
    .image-1 {
        background-image: url(../../../assets/img/rank/18.jpg);
    }

    .image-2 {
        background-image: url(../../../assets/img/rank/16.jpg);
    }

    .image-3 {
        background-image: url(../../../assets/img/rank/15.jpg);
    }

    .image-4 {
        background-image: url(../../../assets/img/rank/14.jpg);
    }

    .image-5 {
        background-image: url(../../../assets/img/rank/13.jpg);
    }

    .image-6 {
        background-image: url(../../../assets/img/rank/17.jpg);
    }

    .image-7 {
        background-image: url(../../../assets/img/rank/11.jpg);
    }

    .image-8 {
        background-image: url(../../../assets/img/rank/9.jpg);
    }

    .image-9 {
        background-image: url(../../../assets/img/rank/12.jpg);
    }

    .image-10 {
        background-image: url(../../../assets/img/rank/10.jpg);
    }

    .image-11 {
        background-image: url(../../../assets/img/rank/7.jpg);
    }

    .image-12 {
        background-image: url(../../../assets/img/rank/8.jpg);
    }

    .image-13 {
        background-image: url(../../../assets/img/rank/5.jpg);
    }

    .image-14 {
        background-image: url(../../../assets/img/rank/2.jpg);
    }

    .image-15 {
        background-image: url(../../../assets/img/rank/4.jpg);
    }

    .image-16 {
        background-image: url(../../../assets/img/rank/3.jpg);
    }

    .image-17 {
        background-image: url(../../../assets/img/rank/1.jpg);
    }

    .image-18 {
        background-image: url(../../../assets/img/rank/6.jpg);
    }

    // Animation images
    .cta-singular-cell {
        perspective: 10rem;

        .cta-internal-image-cont {
            transition               : all 5s linear;
            transform-style          : preserve-3d;
            // Animation
            animation-name           : photoFlip;
            animation-fill-mode      : both;
            animation-iteration-count: infinite;
            animation-duration       : 10s;

            &.flip-1 {
                animation-delay: 2s;
            }

            &.flip-2 {
                animation-delay: 4s;
            }

            &.flip-3 {
                animation-delay: 6s;
            }

            &.flip-4 {
                animation-delay: 8s;
            }

            &.flip-5 {
                animation-delay: 10s;
            }

            &.flip-6 {
                animation-delay: 12s;
            }

            .cta-even-image,
            .cta-odd-image {
                position: absolute;
                top     : 0;
                left    : 0;
            }

            .cta-even-image {
                z-index  : 2;
                transform: rotateY(0deg);
            }

            .cta-odd-image {
                z-index  : 1;
                transform: rotateY(180deg);
            }
        }
    }

    @keyframes photoFlip {
        0% {
            transform: rotateY(0deg);
        }

        20% {
            transform: rotateY(180deg);
        }

        80% {
            transform: rotateY(180deg);
        }

        100% {
            transform: rotateY(0deg);
        }
    }
}