.tear-clothe {
  display        : flex;
  justify-content: space-evenly;
  align-items    : center;
  flex-direction : row-reverse;

  .menu {
    margin-right   : 1rem;
    display        : flex;
    height         : 100%;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;

    .slider-img {
      width        : 5rem;
      height       : 2rem;
      margin-bottom: 1rem;
      position     : relative;

      .photo-container {
        position: relative;
        overflow: hidden;

        .animation-1 {
          animation: scroller1 50s linear infinite;
          width    : calc(3.8rem * 6);

          &:hover {
            animation-play-state: paused;
          }
        }

        .photo-cont-item {
          display: flex;
          width  : calc(3.8rem * 6);

          .photo-item {
            width              : 1.2rem;
            border-radius      : 0.16rem;
            background-size    : cover;
            background-repeat  : no-repeat;
            background-position: center;
            box-shadow         : 0rem 0.02rem 0.4rem rgba(0, 0, 0, 0.15);

            img {
              width        : 100%;
              border-radius: 0.16rem;
              cursor       : pointer;
            }
          }

          .photo-item:hover,
          .photo-item:focus,
          .photo-item:active {
            transform: scale(1.3);
          }
        }
      }
    }

    .ant-slider-mark-text {
      color: #fff;
    }
  }

  .tear {
    cursor: pointer;
  }

  @keyframes scroller1 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-3.8rem * 3));
    }
  }
}