.canvas-box {
    width          : 500px;
    height         : 500px;
    display        : inline-flex;
    justify-content: center;
    align-items    : center;
    border-radius  : 250px;
    box-shadow     : 2px 2px 5px 10px #3b3f4dc1;
    margin         : 20px 0 0 20px;

    #clock {
        border-radius: 240px;
    }
}

.canvas-box:hover {
    animation-play-state: paused;
}

// #clock {
//     transform: rotateZ(-90deg);
//     transform-origin: center;
// }
@keyframes clock {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}