// .cus-header {
//     -webkit-user-select: none;
//     -webkit-app-region: drag;

//     .site-page-header {
//         -webkit-app-region: drag;

//         .ant-input-group-addon {
//             background-color: transparent;
//         }

//         .ant-input {
//             outline: none;
//         }

//         .all-screen {
//             flex: 1;
//         }

//         .my-font {
//             font-size: 12px;
//         }
//     }

// }

.ant-tooltip-inner {
  font-size: 12px;
  padding  : 5px 7px;
}

.ant-input-group-addon {
  display: none;
}

.ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-radius: 12px;
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-radius: 12px;
}

.header {
  height : 0.43rem;
  padding: 0;
  display: flex;

  .allowed {
    cursor: pointer;
    color : #fff;
  }

  .not-allowed {
    cursor        : not-allowed;
    pointer-events: none;
    color         : #000;
  }
}

.ant-dropdown-menu-dark {
  background   : #3b3b4d !important;
  border-radius: 10px !important;
}