.audio-process {
  display: flex;
  margin-bottom: 10px;
}

// .my-progress {
//   display: flex;

.progress {
  position: relative;
  bottom: 8px;

  .ant-progress-line {
    position: absolute;
    cursor: pointer;

    .ant-progress-outer {
      position: absolute;

      .ant-progress-inner {
        position: absolute;
      }
    }
  }
}
// }
.footer {
  height: 30px;
}
